<div class="flex mx-auto items-center justify-center h-screen w-full">
  <div class="bg-white border border-gray-200 shadow-sm p-8 rounded-md w-full max-w-xl">
    <div class="flex w-full justify-center">
      <%= image_tag "budgetpulse_long.svg", class: "w-64" %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <div class="space-y-1">
        <div class="text-sm font-medium text-slate-700">
          <%= f.label :email %>
        </div>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <div class="text-sm font-medium text-slate-700">
          <%= f.label :password %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "w-4 h-4" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>